In [1]:
import csv
import pandas as pd
import random
from sklearn.model_selection import train_test_split

In [21]:
path = 'train_mean_features_labelled.csv'
train_data = pd.read_csv(path,header=0, index_col=0)
train_data.head()

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8,label
0,1.627267e-17,0.554379,0.205182,0.202277,0.589269,0.181832,0.161980,1.156057e-17,0.551979,0.355550,...,0.279709,0.275803,-1.079815e-17,0.553640,0.213654,0.211454,0.225994,0.168969,0.160188,0
1,-3.422243e-18,0.537679,0.281149,0.259472,0.492262,0.190994,0.167108,6.427953e-18,0.537351,0.331801,...,0.229569,0.281986,-5.268898e-18,0.545784,0.289002,0.264373,0.251639,0.172091,0.161918,0
2,3.360650e-17,0.581185,0.278798,0.249169,0.542159,0.179060,0.162542,1.023256e-17,0.592611,0.432686,...,0.220677,0.210012,4.248127e-18,0.590040,0.286996,0.256483,0.267841,0.199506,0.173292,0
3,-3.722168e-17,0.573792,0.241633,0.241526,0.499962,0.185286,0.177292,-1.857318e-18,0.575598,0.456296,...,0.226982,0.231452,-2.724575e-17,0.575120,0.237540,0.230018,0.246263,0.173082,0.164838,0
4,2.091354e-17,0.503988,0.303876,0.269966,0.547477,0.224098,0.170734,2.156758e-17,0.505033,0.434227,...,0.292525,0.172033,-2.218008e-17,0.504860,0.306547,0.278918,0.235462,0.213511,0.161466,1

In [22]:
xtrain = train_data.loc[:, train_data.columns != 'label']
labels = train_data.loc[:, train_data.columns == 'label']

In [23]:
xtrain.head()

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
0,1.627267e-17,0.554379,0.205182,0.202277,0.589269,0.181832,0.161980,1.156057e-17,0.551979,0.355550,...,0.585938,0.279709,0.275803,-1.079815e-17,0.553640,0.213654,0.211454,0.225994,0.168969,0.160188
1,-3.422243e-18,0.537679,0.281149,0.259472,0.492262,0.190994,0.167108,6.427953e-18,0.537351,0.331801,...,0.486981,0.229569,0.281986,-5.268898e-18,0.545784,0.289002,0.264373,0.251639,0.172091,0.161918
2,3.360650e-17,0.581185,0.278798,0.249169,0.542159,0.179060,0.162542,1.023256e-17,0.592611,0.432686,...,0.551182,0.220677,0.210012,4.248127e-18,0.590040,0.286996,0.256483,0.267841,0.199506,0.173292
3,-3.722168e-17,0.573792,0.241633,0.241526,0.499962,0.185286,0.177292,-1.857318e-18,0.575598,0.456296,...,0.504787,0.226982,0.231452,-2.724575e-17,0.575120,0.237540,0.230018,0.246263,0.173082,0.164838
4,2.091354e-17,0.503988,0.303876,0.269966,0.547477,0.224098,0.170734,2.156758e-17,0.505033,0.434227,...,0.546768,0.292525,0.172033,-2.218008e-17,0.504860,0.306547,0.278918,0.235462,0.213511,0.161466

In [24]:
labels.head()

   label
0      0
1      0
2      0
3      0
4      1

In [25]:
X_train, X_val, y_train, y_val = train_test_split(xtrain, labels, test_size=0.1, random_state=4)

In [26]:
print(X_train.shape)
X_train.head()

(161, 56)

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
93,-1.238618e-17,0.565956,0.280841,0.223077,0.598613,0.182531,0.182293,8.003122e-18,0.562951,0.461278,...,0.597456,0.239223,0.210850,-2.803062e-17,0.568867,0.271600,0.248126,0.260206,0.196449,0.169743
156,5.781330e-18,0.568719,0.318037,0.292307,0.623323,0.209472,0.226009,-1.104593e-17,0.570587,0.414329,...,0.625819,0.262777,0.258047,-2.110726e-17,0.577244,0.314275,0.288484,0.318283,0.247041,0.209574
91,1.148340e-17,0.574159,0.234444,0.218705,0.513039,0.185863,0.169648,-9.551458e-18,0.576222,0.434044,...,0.524925,0.214383,0.256053,-3.095556e-17,0.574342,0.231425,0.228049,0.222512,0.179484,0.160134
166,-1.611239e-17,0.509394,0.275858,0.230681,0.624075,0.203419,0.186238,4.256647e-18,0.510081,0.485005,...,0.644491,0.327046,0.184001,5.893450e-18,0.521425,0.292644,0.269283,0.273710,0.225106,0.182995
124,-1.732429e-17,0.599630,0.314093,0.282904,0.560655,0.198022,0.178590,1.371567e-17,0.597674,0.435638,...,0.559887,0.213564,0.211051,1.526362e-17,0.602954,0.318925,0.288344,0.285982,0.195452,0.174388

In [27]:
print(X_val.shape)
X_val.head()

(18, 56)

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
163,8.566120e-18,0.551454,0.241192,0.220625,0.516839,0.208294,0.155872,1.165200e-18,0.552685,0.359967,...,0.519395,0.237622,0.254569,-6.093760e-18,0.554896,0.243396,0.232923,0.214628,0.197237,0.153315
142,1.427886e-17,0.527122,0.277500,0.272824,0.545868,0.192125,0.163143,2.113693e-17,0.528486,0.409050,...,0.537398,0.250894,0.219563,-1.223252e-17,0.533594,0.291363,0.264671,0.234674,0.206413,0.166213
14,2.579255e-18,0.537403,0.267647,0.230579,0.617686,0.200086,0.167136,-1.427629e-17,0.538384,0.341642,...,0.620094,0.261141,0.266174,-1.325307e-17,0.548935,0.281059,0.253392,0.262591,0.192742,0.168619
45,-7.377681e-18,0.559337,0.219580,0.200886,0.676990,0.192669,0.169655,2.649278e-17,0.562957,0.327307,...,0.676566,0.330513,0.312139,-2.589699e-17,0.569140,0.238092,0.229897,0.250955,0.170650,0.165434
81,-2.415921e-17,0.591457,0.235514,0.212839,0.546684,0.183770,0.175548,-8.323416e-18,0.597730,0.351928,...,0.556212,0.199599,0.279996,2.250964e-18,0.588746,0.235921,0.229419,0.244172,0.181738,0.169307

In [28]:
print(y_train.shape)
y_train.head()

(161, 1)

     label
93       0
156      0
91       0
166      0
124      0

In [29]:
print(y_val.shape)
y_val.head()

(18, 1)

     label
163      0
142      0
14       0
45       0
81       0

In [30]:
y_val.groupby(['label']).size()

label
0    15
1     3
dtype: int64

In [31]:
train_data.groupby(['label']).size()

label
0    156
1     23
dtype: int64

In [32]:
X_train.to_csv('data/train/x_train.csv',header=True)
y_train.to_csv('data/train/y_train.csv',header=True)
X_val.to_csv('data/val/x_val.csv',header=True)
y_val.to_csv('data/val/y_val.csv',header=True)