In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.ensemble
import sklearn.preprocessing
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns

In [2]:
train_path = 'data/train/'
val_path = 'data/val/'

x_train = pd.read_csv(train_path+'x_train.csv',header=0, index_col=0)
x_train.head()

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
93,-1.238618e-17,0.565956,0.280841,0.223077,0.598613,0.182531,0.182293,8.003122e-18,0.562951,0.461278,...,0.597456,0.239223,0.210850,-2.803062e-17,0.568867,0.271600,0.248126,0.260206,0.196449,0.169743
156,5.781330e-18,0.568719,0.318037,0.292307,0.623323,0.209472,0.226009,-1.104593e-17,0.570587,0.414329,...,0.625819,0.262777,0.258047,-2.110726e-17,0.577244,0.314275,0.288484,0.318283,0.247041,0.209574
91,1.148340e-17,0.574159,0.234444,0.218705,0.513039,0.185863,0.169648,-9.551458e-18,0.576222,0.434044,...,0.524925,0.214383,0.256053,-3.095556e-17,0.574342,0.231425,0.228049,0.222512,0.179484,0.160134
166,-1.611239e-17,0.509394,0.275858,0.230681,0.624075,0.203419,0.186238,4.256647e-18,0.510081,0.485005,...,0.644491,0.327046,0.184001,5.893450e-18,0.521425,0.292644,0.269283,0.273710,0.225106,0.182995
124,-1.732429e-17,0.599630,0.314093,0.282904,0.560655,0.198022,0.178590,1.371567e-17,0.597674,0.435638,...,0.559887,0.213564,0.211051,1.526362e-17,0.602954,0.318925,0.288344,0.285982,0.195452,0.174388

In [3]:
y_train = pd.read_csv(train_path+'y_train.csv',header=0, index_col=0)
y_train.head()

     label
93       0
156      0
91       0
166      0
124      0

In [4]:
x_val = pd.read_csv(val_path+'x_val.csv',header=0, index_col=0)
x_val.head()

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
163,8.566120e-18,0.551454,0.241192,0.220625,0.516839,0.208294,0.155872,1.165200e-18,0.552685,0.359967,...,0.519395,0.237622,0.254569,-6.093760e-18,0.554896,0.243396,0.232923,0.214628,0.197237,0.153315
142,1.427886e-17,0.527122,0.277500,0.272824,0.545868,0.192125,0.163143,2.113693e-17,0.528486,0.409050,...,0.537398,0.250894,0.219563,-1.223252e-17,0.533594,0.291363,0.264671,0.234674,0.206413,0.166213
14,2.579255e-18,0.537403,0.267647,0.230579,0.617686,0.200086,0.167136,-1.427629e-17,0.538384,0.341642,...,0.620094,0.261141,0.266174,-1.325307e-17,0.548935,0.281059,0.253392,0.262591,0.192742,0.168619
45,-7.377681e-18,0.559337,0.219580,0.200886,0.676990,0.192669,0.169655,2.649278e-17,0.562957,0.327307,...,0.676566,0.330513,0.312139,-2.589699e-17,0.569140,0.238092,0.229897,0.250955,0.170650,0.165434
81,-2.415921e-17,0.591457,0.235514,0.212839,0.546684,0.183770,0.175548,-8.323416e-18,0.597730,0.351928,...,0.556212,0.199599,0.279996,2.250964e-18,0.588746,0.235921,0.229419,0.244172,0.181738,0.169307

In [5]:
y_val = pd.read_csv(val_path+'y_val.csv',header=0, index_col=0)
y_val.head()

     label
163      0
142      0
14       0
45       0
81       0

In [6]:
classifier =  KNeighborsClassifier(n_neighbors=3, weights='distance')
classifier.fit(x_train, y_train.values.ravel())

KNeighborsClassifier(n_neighbors=3, weights='distance')

In [7]:
#Returns the classifier's accuracy
def accuracy(classifier) -> float:
    num_correct = 0
    for i in range(len(x_val)):
        pred = classifier.predict([x_val.values[i]])[0]
        correct = y_val.values[i]
        if pred == correct:
                num_correct += 1
    return num_correct / len(x_val)

In [8]:
print(accuracy(classifier))

0.9444444444444444

In [13]:
from sklearn import metrics

In [17]:
y_pred=classifier.predict(x_val)

In [18]:
print("Accuracy:",metrics.accuracy_score(y_pred, y_val))

Accuracy: 0.9444444444444444