In [30]:
import csv
import pandas as pd

In [31]:
file_number = '0001'
file_path = 'CSV/{}.csv'.format(file_number)

In [32]:
df = pd.read_csv(file_path)
print(df.head())
df.shape

   FS Lin    SS Log   FL1 Log   FL2 Log   FL3 Log   FL4 Log   FL5 Log
0     427  0.452041  0.140279  0.213405  0.683650  0.160077  0.140279
1     917  0.620252  0.253195  0.276627  0.609630  0.203733  0.257787
2     890  0.620252  0.248659  0.184568  0.592770  0.140279  0.140279
3     855  0.656414  0.246862  0.248659  0.530069  0.167291  0.144721
4     921  0.629973  0.212638  0.265240  0.598100  0.212638  0.162236

(26966, 7)

In [33]:
df.mean()

FS Lin     663.982311
SS Log       0.554379
FL1 Log      0.205182
FL2 Log      0.202277
FL3 Log      0.589269
FL4 Log      0.181832
FL5 Log      0.161980
dtype: float64

In [34]:
df.std()

FS Lin     218.849759
SS Log       0.095017
FL1 Log      0.052198
FL2 Log      0.048688
FL3 Log      0.107338
FL4 Log      0.043249
FL5 Log      0.026069
dtype: float64

In [35]:
df['FS Lin'] -= float(df['FS Lin'].mean())
df['FS Lin'] = df['FS Lin']/df['FS Lin'].std()*.1

In [36]:
df.head()

     FS Lin    SS Log   FL1 Log   FL2 Log   FL3 Log   FL4 Log   FL5 Log
0 -0.108285  0.452041  0.140279  0.213405  0.683650  0.160077  0.140279
1  0.115613  0.620252  0.253195  0.276627  0.609630  0.203733  0.257787
2  0.103275  0.620252  0.248659  0.184568  0.592770  0.140279  0.140279
3  0.087283  0.656414  0.246862  0.248659  0.530069  0.167291  0.144721
4  0.117440  0.629973  0.212638  0.265240  0.598100  0.212638  0.162236

In [37]:
print(df.mean())
print(df.std())

FS Lin     1.627267e-17
SS Log     5.543793e-01
FL1 Log    2.051824e-01
FL2 Log    2.022766e-01
FL3 Log    5.892686e-01
FL4 Log    1.818322e-01
FL5 Log    1.619795e-01
dtype: float64
FS Lin     0.100000
SS Log     0.095017
FL1 Log    0.052198
FL2 Log    0.048688
FL3 Log    0.107338
FL4 Log    0.043249
FL5 Log    0.026069
dtype: float64

In [11]:
num = 1
file_path = 'CSV/{}.csv'
while num < 24:
    file_name = str(num)
    while len(file_name)< 4:
        file_name = '0' + file_name
    print(file_path.format(file_name))
    df = pd.read_csv(file_path.format(file_name))
    print(df.shape)
    num = num + 8

CSV/0001.csv
(26966, 7)
CSV/0009.csv
(29055, 7)
CSV/0017.csv
(29099, 7)

In [12]:
num = 2
file_path = 'CSV/{}.csv'
while num < 24:
    file_name = str(num)
    while len(file_name)< 4:
        file_name = '0' + file_name
    print(file_path.format(file_name))
    df = pd.read_csv(file_path.format(file_name))
    print(df.shape)
    num = num + 8

CSV/0002.csv
(27184, 7)
CSV/0010.csv
(29144, 7)
CSV/0018.csv
(28915, 7)